.swiper-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;

  background-color: transparent;
  border: 2px solid $_accent_bg_color;
  border-radius: 23px;
  color: $_title_color;

  @include animated(background-color, color);

  &:focus {
    background-color: $_accent_bg_color;
    color: $_secondary_white_text_color;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $_accent_bg_color;
      color: $_secondary_white_text_color;
    }
  }

  @include media(desktop) {
    padding: 8px 24px;
    border: 3px solid $_accent_bg_color;
  }
}

.swiper-button__icon {
  fill: currentColor;
  // @include animated(fill);
  @include media(desktop) {
    width: 36px;
    height: 36px;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;

  @include media(desktop) {
    max-width: 380px;
    margin: 80px auto 0;
  }
}

.swiper-pagination__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.swiper-pagination__bullet {
  display: inline-block;
  width: 12px;
  height: 12px;

  padding: 0;

  border-radius: 50%;
  border: 3px solid $_accent_bg_color;

  &--active {
    background-color: $_accent_bg_color;
    border: none;
  }

  @include media(desktop) {
    width: 16px;
    height: 16px;
    &:nth-child(n + 3) {
      display: none;
    }
  }
}
