<footer class="footer" id="footer">
  <div class="container footer__wrap">
    <nav class="footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a href="/terms.html" class="footer-nav__link"
            >Terms and conditions
          </a>
        </li>
        <li class="footer-nav__item">
          <a href="/policy.html" class="footer-nav__link"
            >Privacy policy<span>/</span></a
          >
        </li>
      </ul>
    </nav>
    <p class="footer__info">
      All rights reserved
      <a href="http://www.luckypuzzletime.com/" target="_blank"
        >luckypuzzletime.com</a
      >
      | 2024
    </p>
  </div>
</footer>
