<section class="section hero" id="hero">
  <div class="container">
    <div class="hero__wrap">
      <div class="hero__inner-wrap">
        <h1 class="section__title">Rule the realm with Queenie's quest!</h1>
        <p class="section__text">
          Step into the regal shoes of Queenie in a quest full of puzzles and
          intrigue! Start your royal adventure now!
        </p>
        <a
          href="https://play.google.com/store/apps/details?id=com.mobowl.queenie.google"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="button"
          ><svg width="32" height="36" aria-label="logo play-market">
            <use
              href="../img/svg-sprite.svg#icon-google-play"
              class="button__icon"
            ></use>
          </svg>
          <div class="button__text">GET IT ON <span> Google Play</span></div>
        </a>
      </div>

      <picture>
        <source
          srcset="
            ./img/hero/hero-image-ds@1x.webp 1x,
            ./img/hero/hero-image-ds@2x.webp 2x
          "
          media="(min-width: 1220px)"
        />
        <source
          srcset="
            ./img/hero/hero-image-mb@1x.webp 1x,
            ./img/hero/hero-image-mb@2x.webp 2x
          "
          media="(max-width: 1219.98px)"
        />
        <img
          src="./img/hero/hero-image-ds@2x.webp"
          alt="princess in front of the castle"
          width="601"
          height="689"
        />
      </picture>
    </div>
  </div>
</section>
