<section class="section section--how-play" id="how-play">
  <div class="container">
    <h2 class="section__title">How to Play?</h2>
    <ul class="play-card__list">
      <li class="play-card__item play-card__wrap play-card__item--solve">
        <div class="play-card__inner-wrap">
          <h3 class="play-card__title">Solve Puzzles</h3>
          <p class="play-card__text">
            Match items to clear challenges and unlock new levels.
          </p>
        </div>

        <div class="play-card__icon play-card__icon--solve"></div>
      </li>
      <li class="play-card__item play-card__item--strategic">
        <div class="play-card__inner-wrap">
          <h3 class="play-card__title">Strategic Moves</h3>
          <p class="play-card__text">
            Plan your moves wisely to meet the objectives and maximize rewards.
          </p>
        </div>

        <div class="play-card__icon play-card__icon--strategic"></div>
      </li>
      <li class="play-card__item play-card__item--collect">
        <div class="play-card__inner-wrap">
          <h3 class="play-card__title">Collect Items</h3>
          <p class="play-card__text">
            Gather rare artifacts and resources to aid your quest.
          </p>
        </div>

        <div class="play-card__icon play-card__icon--collect"></div>
      </li>
      <li class="play-card__item play-card__item--unlock">
        <div class="play-card__inner-wrap">
          <h3 class="play-card__title">Unlock Stories</h3>
          <p class="play-card__text">
            Each level advances the storyline, revealing more about Queenie's
            journey.
          </p>
        </div>

        <div class="play-card__icon play-card__icon--unlock"></div>
      </li>
      <li class="play-card__item play-card__item--compete">
        <div>
          <h3 class="play-card__title">Compete with Friends</h3>
          <p class="play-card__text">
            Connect and compete for the highest scores in the kingdom.
          </p>
        </div>

        <div class="play-card__icon play-card__icon--compete"></div>
      </li>
    </ul>

    <div class="disclaimer-card__wrap">
      <div class="disclaimer-card__inner-wrap">
        <h3 class="disclaimer-card__title">Disclaimer</h3>
        <p class="disclaimer-card__text">
          "Queenie" is a captivating puzzle game that transports players into a
          fantastical kingdom where strategy and wits reign supreme. Solve
          challenging puzzles to help Queenie navigate through royal dilemmas
          and claim her throne.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/tutorial/disclaimer-image-ds@1x.webp 1x,
            ./img/tutorial/disclaimer-image-ds@2x.webp 2x
          "
          media="(min-width: 1220px)"
        />
        <source
          srcset="
            ./img/tutorial/disclaimer-image-mb@1x.webp 1x,
            ./img/tutorial/disclaimer-image-mb@2x.webp 2x
          "
          media="(max-width: 1219.98px)"
        />
        <img
          src="./img/tutorial/disclaimer-image-ds@2x.webp"
          alt="princess character from the game"
          width="290"
          height="269"
        />
      </picture>
    </div>
  </div>
</section>
