<section class="section reviews" id="reviews">
  <div class="container">
    <h2 class="section__title">Reviews</h2>
    <ul class="reviews-card__list">
      <li class="reviews-card__item">
        <div class="reviews-card__thumb">
          <h3 class="reviews-card__title reviews-card__avatar1">
            RoyalGamer42
          </h3>
          <svg width="152" height="24" class="reviews-card__icon">
            <use href="./svg-sprite.svg#icon-rate"></use>
          </svg>
          <p class="reviews-card__text section__text--black">
            "Absolutely enchanting! Each level brings new surprises and
            challenges."
          </p>
        </div>
      </li>
      <li class="reviews-card__item">
        <div class="reviews-card__thumb">
          <h3 class="reviews-card__title reviews-card__avatar2">
            CrownCollector
          </h3>
          <svg width="152" height="24" class="reviews-card__icon">
            <use href="./svg-sprite.svg#icon-rate"></use>
          </svg>
          <p class="reviews-card__text section__text--black">
            "Perfect for puzzle lovers! The themes and graphics are top-notch."
          </p>
        </div>
      </li>
      <li class="reviews-card__item">
        <div class="reviews-card__thumb">
          <h3 class="reviews-card__title reviews-card__avatar3">
            KnightErrant
          </h3>
          <svg width="152" height="24" class="reviews-card__icon">
            <use href="./svg-sprite.svg#icon-rate"></use>
          </svg>
          <p class="reviews-card__text section__text--black">
            "Challenging but fair. Keeps me coming back every day."
          </p>
        </div>
      </li>
      <li class="reviews-card__item">
        <div class="reviews-card__thumb">
          <h3 class="reviews-card__title reviews-card__avatar4">PalacePat</h3>
          <svg width="152" height="24" class="reviews-card__icon">
            <use href="./svg-sprite.svg#icon-rate"></use>
          </svg>
          <p class="reviews-card__text section__text--black">
            "Fun and addictive! Love the historical theme mixed with engaging
          </p>
        </div>
      </li>
    </ul>

    <!-- Swiper-Pagination -->
    <div class="swiper-pagination">
      <button
        type="button"
        class="swiper-button"
        aria-level="to the next slide"
      >
        <svg width="24" height="24" class="swiper-button__icon">
          <use href="./svg-sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <div class="swiper-pagination__wrap">
        <button
          type="button"
          class="swiper-pagination__bullet"
          aria-label="first slide"
        ></button>
        <button
          type="button"
          class="swiper-pagination__bullet swiper-pagination__bullet--active"
          aria-label="second slide"
        ></button>
        <button
          type="button"
          class="swiper-pagination__bullet"
          aria-label="third slide"
        ></button>
        <button
          type="button"
          class="swiper-pagination__bullet"
          aria-label="fourth slide"
        ></button>
      </div>
      <button
        type="button"
        class="swiper-button"
        aria-level="to the previous slide "
      >
        <svg width="24" height="24" class="swiper-button__icon">
          <use href="./svg-sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
