@import './ui/section';
@import './ui/container';
@import './ui/title';
@import './ui/button';

@import './base';

@import './layout/header';
@import './layout/footer';

@import './sections/hero';
@import './sections/reviews';
@import './sections/gallery';
@import './sections/about';
@import './sections/how-play';

@import './sections/policy';
@import './sections/terms';

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;

  color: $_main_text_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
