@import './ui/section';
@import './ui/container';
@import './ui/title';
@import './ui/button';

@import './layout/header';
@import './layout/footer';

@import './sections/hero';
@import './sections/reviews';
@import './sections/gallery';
@import './sections/about';
@import './sections/how-play';

@import './sections/policy';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
